---
layout: home
description: Personal web of Juan Manuel Merlos. I create mobile and web services.
keywords: juan, merlos, juan manuel merlos, web, official web, página personal
---

<div class="home" style="min-height: 400px;padding-bottom: 3rem">
  <img src="/assets/yop-fb.jpg" style="width:340px; float:left;margin-right: 2em;margin-top:0px;margin-bottom: 2em">

  <div class="hola" style="float:left;max-width: 355px;line-height:1.3;font-size:85%">
  <h1 style="color: orange; font-weight: bold">¡Hola!</h1>
  <p class="intro" style="font-size: 160%">Welcome to the personal webpage of <strong>Juan Manuel Merlos</strong>.  
  </p>
  <p class="intro" style="font-size: 120%">
    <span style="color: blue">I am a dreamer.</span><br> 
    <span style="color: green">I am a geek.</span><br>
    <span style="color: brown">I am an eternal learner</span>.
    <br> 
      <span style="color:purple">I am a citizen of the World made in Spain,</span><br>
    <span style="color: olive">and I design mobile and web services.</span><br>
  </p>
  <p><strong><a href="/about/">
    
    learn more about me</a></strong>
  </p>
</div>


<br style="clear:both"> 

  
<h2 class="post-title">Little big thoughts</h2>
<p><small style="color:grey">Depending on the nature of each article it may be written in English, Spanish or both. 
</small>
</p>

<ul class="post-list">
  
{% assign posts=site.posts %}  
{% assign displayed_articles = " " %}
{% for post in posts %}
  {% if post.hide_index != true %}
    {% comment %}
      I may not want to display here all posts, so i defined a variable
      to hide them.
    {% endcomment %}
    {% if displayed_articles contains post.post_id %}
    <!-- skipping repeating {{ post.post_id }} {{ post.id }}-->
    {% else %}
    <li>
      
      {% capture displayed_articles %}{{ displayed_articles }} {{ post.post_id }}{% endcapture %}
      {% include post-list-item.html post=post %}
    </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
</div>

  
   

